<configuration scan="false" debug="false">
    <appender name="allLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/app.log</File>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>TRACE</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.home}/logs/bak_app/app-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread]- %-5level %logger{12} %X{traceId} %X{userId} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="errorLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/error.log</File>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${catalina.home}/logs/bak_error/error-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread]-[%X{requestId}] %-5level %logger{12} %X{traceId} %X{userId} %msg%n
            </pattern>
        </encoder>
    </appender>

    <appender name="controllerLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/dao.log</File>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %X{traceId} %X{userId} %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logs/bak_dao/dao.%d{yyyy-MM-dd}.log</FileNamePattern>
            <MaxHistory>7</MaxHistory>
            <CleanHistoryOnStart>true</CleanHistoryOnStart>
        </rollingPolicy>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <appender name="allLogFileAsync" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>2048</queueSize>
        <appender-ref ref="allLogFile"/>
    </appender>

    <appender name="errorLogFileAsync" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="errorLogFile"/>
    </appender>

    <appender name="controllerLogFileAsync" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="controllerLogFile"/>
    </appender>

    <!-- 外部调用本地service服务的日志 -->
    <logger name="Controller" level="DEBUG" additivity="true">
        <appender-ref ref="controllerLogFileAsync"/>
    </logger>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{12} %X{traceId} %X{userId} %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 线上环境不要使用ConsoleAppender -->
    <root level="debug">
        <appender-ref ref="allLogFileAsync"/>
        <appender-ref ref="errorLogFileAsync"/>
        <appender-ref ref="console"/>
    </root>

</configuration>