<configuration scan="false" debug="false">
    <appender name="allLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/all.log</File>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread]- %-5level %logger{12} %X{traceId} %X{userId} %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${catalina.home}/logs/bak_all/all-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!-- 保存七天的记录 -->
            <maxHistory>7</maxHistory>
            <!-- 单文件大小大于2GB时，滚动文件 -->
            <maxFileSize>2GB</maxFileSize>
            <!-- 总体文件大小 -->
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="errorLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/error.log</File>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread]-[%X{requestId}] %-5level %logger{12} %X{traceId} %X{userId} %msg%n
            </pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${catalina.home}/logs/bak_error/error-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>2GB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="daoUpdateLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/dao.log</File>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %X{traceId} %X{userId} %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>logs/bak_dao/dao.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <MaxHistory>7</MaxHistory>
            <maxFileSize>2GB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="dubboAccessLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/dubbo_access.log</File>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %X{traceId} %X{userId} %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>logs/bak_dubbo_access/dubbo_access.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <MaxHistory>7</MaxHistory>
            <maxFileSize>2GB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="remoteErrorLogFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/remote_error.log</File>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %X{traceId} %X{userId} %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>logs/bak_remote_error/remote_error.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <MaxHistory>7</MaxHistory>
            <maxFileSize>2GB</maxFileSize>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
    </appender>

    <appender name="allLogFileAsync" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>2048</queueSize>
        <appender-ref ref="allLogFile"/>
    </appender>

    <appender name="errorLogFileAsync" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="errorLogFile"/>
    </appender>

    <appender name="daoUpdateLogFileAsync" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="daoUpdateLogFile"/>
    </appender>

    <appender name="dubboAccessLogFileAsync" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="dubboAccessLogFile"/>
    </appender>

    <appender name="remoteLogFileAsync" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>512</queueSize>
        <appender-ref ref="remoteLogFile"/>
    </appender>

    <!-- 服务访问数据库的日志 -->
    <logger name="Dao" level="INFO" additivity="true">
        <appender-ref ref="daoUpdateLogFileAsync"/>
    </logger>

    <!-- 外部调用本地service服务的日志 -->
    <logger name="Access" level="INFO" additivity="true">
        <appender-ref ref="dubboAccessLogFileAsync"/>
    </logger>

    <!-- 调用外部服务的日志 -->
    <logger name="Remote" level="INFO" additivity="true">
        <appender-ref ref="remoteLogFileAsync"/>
    </logger>

    <!-- 线上环境不要使用ConsoleAppender,只打开info级别日志 -->
    <root level="info">
        <appender-ref ref="allLogFileAsync"/>
        <appender-ref ref="errorLogFileAsync"/>
    </root>

</configuration>